* {
    box-sizing: border-box;
    
}

body {
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

.text-color {
    color: white;
}


.header {
    margin-top: 150px;
    font-size: 25px;
    margin-left: -150px;
}

.logo-name {
    text-align: center;
    font-size: px;
    font-family: 'Times New Roman', Times, serif;
}

#booked-date {
    display: none;
}