* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: lightyellow;
}

body {
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

.checked {
    color: goldenrod;
}

.review-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.container-fluid{
    margin-top: 150px;
}

.container-fluid h3{
    margin-bottom: 20px;
}

.col{
    margin-left: 200px;
}

.container-fluid h3{
    margin-bottom: 50px;
    font-size: 50px;
    color: goldenrod;
}

#walrus-showing {
    display: none;
}

#walrus-showing p{
    font-weight: 600;
    text-align: center;
    height: 200px;
    width: 600px;
    font-size: 15px;
    margin-top: 55px;
}

#walrus-showing1 {
    display: none;
}

#walrus-showing1 p{
    font-weight: 600;
    text-align: center;
    height: 200px;
    width: 600px;
    font-size: 15px;
    margin-top: 55px;
}

#walrus-showing2 {
    display: none;
}

#walrus-showing2 p{
    font-weight: 600;
    text-align: center;
    height: 200px;
    width: 600px;
    font-size: 15px;
    margin-top: 55px;
}

#walrus-showing3 {
    display: none;
}

#walrus-showing3 p{
    font-weight: 600;
    text-align: center;
    height: 200px;
    width: 600px;
    font-size: large;
    margin-top: 55px;
}

#walrus-showing4 {
    display: none;
}

#walrus-showing4 p{
    font-weight: 600;
    text-align: center;
    height: 200px;
    width: 600px;
    font-size: large;
    margin-top: 55px;
}

#walrus-showing5 {
    display: none;
}

#walrus-showing5 p{
    font-weight: 600;
    text-align: center;
    height: 200px;
    width: 600px;
    font-size: large;
    margin-top: 55px;
}